# Numpy vs Pandas


<ol>
    <li><h3>Pandas has a numpy core.</h3></li>
    <li><h3>Extra structure and tools, but sometimes you have to strip it away</h3></li>
</ol>

In [12]:
# Importing libraries

import numpy as np
import pandas as pd
import pickle 
import os

os.chdir('/Users/laythal-shblawi/Desktop/Data-Manipulation-Python/dataSets')
fileName ='heart.csv'

In [13]:
# Loading the dataset

df = pd.read_csv(fileName)

In [14]:
df.shape

(297, 14)

In [15]:
values = df.values
data = df.to_numpy()

values

array([[69.,  1.,  0., ...,  1.,  0.,  0.],
       [69.,  0.,  0., ...,  2.,  0.,  0.],
       [66.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [35.,  1.,  3., ...,  0.,  2.,  1.],
       [35.,  0.,  3., ...,  0.,  0.,  0.],
       [35.,  1.,  3., ...,  0.,  2.,  1.]])

In [16]:
data

array([[69.,  1.,  0., ...,  1.,  0.,  0.],
       [69.,  0.,  0., ...,  2.,  0.,  0.],
       [66.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [35.,  1.,  3., ...,  0.,  2.,  1.],
       [35.,  0.,  3., ...,  0.,  0.,  0.],
       [35.,  1.,  3., ...,  0.,  2.,  1.]])

In [17]:
data.dtype# numpy convert the data type to from mixture from float and int to single type 'float type only'

dtype('float64')

In [18]:
data[0,0] = 100 # that will not change the data set [0,0] value!

In [19]:
df.head()# data[0,0] = 69 not changed to 100 ! coz df its has mixture data types

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0

In [20]:
df2 = df[['age','sex','cp']]
data2= df2.to_numpy().copy()
data2[0,0] = 100
df2.head()# now the [0,0] value changed to 100 coz 'age,sex and cp' has the same data type 'float'

   age  sex  cp
0   69    1   0
1   69    0   0
2   66    0   0
3   65    1   0
4   64    1   0

In [21]:
# we can change the column value using numpy object by choosing a specific columns:
df.age.to_numpy()[0] = 100
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,100,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0

In [22]:
# the mean method works for both numpy and pandas

print(df.age.mean(),df.age.to_numpy().mean())

54.64646464646464 54.64646464646464

In [23]:
# the quantile method works for pandas but not with numpy!

print(df.age.quantile(.5))

# print(df.age.to_numpy().quantile(.5))# no quantile method in numpy

56.0

In [24]:
# the reshape method works for numpy but not with pandas !

# print(df.age.reshape(3,-1)) # no reshape method in pandas

print(df.age.to_numpy().reshape(3,-1))

[[100  69  66  65  64  64  63  61  60  59  59  59  59  58  56  52  52  51
   45  42  40  38  34  74  71  70  66  63  62  62  59  58  58  57  57  57
   56  56  56  56  55  55  55  54  54  54  52  52  52  50  49  49  48  48
   46  46  45  45  45  44  44  44  42  41  41  41  41  41  41  35  34  29
   76  71  70  69  68  68  68  67  67  67  66  65  65  65  64  64  64  63
   62  62  61  60  60  60  59  59  58]
 [ 58  58  58  58  57  57  57  56  54  54  54  54  54  54  54  53  53  52
   52  51  51  51  51  51  51  51  50  50  50  49  49  48  48  47  47  47
   46  46  44  44  44  44  44  43  43  42  42  42  41  41  41  39  39  39
   37  37  77  71  70  70  68  67  67  67  67  67  67  66  66  66  66  65
   65  65  65  64  64  64  64  64  63  63  63  63  63  63  62  62  62  62
   62  62  62  61  61  61  61  61  61]
 [ 60  60  60  60  60  60  60  60  59  59  59  59  59  59  59  58  58  58
   58  58  58  58  58  58  58  57  57  57  57  57  57  57  57  57  57  57
   56  56  56  56  56  55  55  55  55  55  54  54  54  54  54  54  53  53
   53  53  53  52  52  52  52  51  51  51  51  50  50  50  49  48  48  48
   47  47  46  46  46  45  45  45  45  44  44  44  43  43  43  43  43  42
   42  42  41  40  40  39  35  35  35]]

____________

<h3>Most of the time, better to keep things in DataFrame format, as you can do more. For some cases, you might need to
swap to numpy format, and that's fine.</h3>

# Recap:
<ul>
    <li><h4>Work with pandas as much as you can, more functionality</h4></li>
    <li><h4>Sometimes you need to get the actual array, and use to numpy</h4></li>
</ul>